<section class="pre-footer bg-dark-blue">
  <a href="{{ var.services.url }}" class="pre-footer__btn btn btn-primary btn-decor fw-bold text-white text-uppercase text-center">
    выбрать услугу
  </a>
</section>

<footer class="footer container">
  <a href="/" class="footer__logo">
    <img src="/assets/img/logo/logo-gray.svg" class="footer__logo-img" alt="">
  </a>

  <div class="footer__menu text-uppercase">
    <a href="{{ var.about.url }}" class="footer__menu-item">{{ var.about.name }}</a>
    <a href="{{ var.services.url }}" class="footer__menu-item">{{ var.services.name }}</a>
    <a href="{{ var.prices.url }}" class="footer__menu-item">{{ var.prices.name }}</a>
    <a href="{{ var.contacts.url }}" class="footer__menu-item">{{ var.contacts.name }}</a>
  </div>

  <div class="footer__contacts text-blue">
    <a href="tel:{{ var.phone1.url }}" class="footer__contacts-phone">{{ var.phone1.name }}</a>
    <a href="tel:{{ var.phone2.url }}" class="footer__contacts-phone">{{ var.phone2.name }}</a>

    <div>
      <a href="mailto:{{ var.email }}" class="footer__contacts-email">{{ var.email }}</a>
    </div>
  </div>

  <a href="{{ var.disclosure.url }}" class="footer__privacy" rel="nofollow">{{ var.disclosure.name }}</a>
</footer>
