<footer class="footer container">
  <a href="/" class="footer__logo">
    <img src="/assets/img/logo/logo.svg" alt="">
  </a>

  <ul class="footer__menu text-uppercase list-unstyled">
    <li class="footer__menu-item">
      <a href="{{ var.about.url }}" class="footer__menu-link">{{ var.about.name }}</a>
    </li>
    <li class="footer__menu-item">
      <a href="{{ var.services.url }}" class="footer__menu-link">{{ var.services.name }}</a>
    </li>
    <li class="footer__menu-item">
      <a href="{{ var.base.url }}" class="footer__menu-link">{{ var.base.name }}</a>
    </li>
    <li class="footer__menu-item">
      <a href="{{ var.contacts.url }}" class="footer__menu-link">{{ var.contacts.name }}</a>
    </li>
  </ul>
</footer>
